/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#map_canvas
 {

    width: 960px;
    height: 100%;
    position:absolute;
 }
 body {
    height: 100%;
    width: 960px;
    margin: auto;
    text-align: center;

 }
 /*html {
    height: 100%;
 }*/
 #markers {
    height: 100%
 }
 .top {
    margin-bottom: 120px;
 }
 .button {
    

    background-color: white;
    width: 300px;
    height: 300px;  
    font-size: 50px;
    border-radius: 200px;
    border: 5px solid #ccc; margin: 18px; -webkit-transition: margin 0.5s ease-out; -moz-transition: margin 0.5s ease-out; -o-transition: margin 0.5s ease-out;
    /*transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;*/
    opacity: .5;
    font-family: 'Lobster', cursive;
 }
 .button:hover {
     margin-top: 2px; 
     opacity: 1;
     font-family: 'Lobster', cursive;
        
 }


 #query {
    background-color: white;
    width: 954px;
    text-align: center;
    font-size: 30px;
    height: 50px;
    font-family: 'Lobster', cursive;

    
 }
 #query:hover {
    background-color: white;
    border: 2px dashed black;
    border-radius: 15px;
    font-size: 30px;
    height: 50px;
    font-family: 'Lobster', cursive;

 }

